{% load static menu_tags %}
{% get_menu "header" as navigation %}
<style>
    * {
        padding: 0;
        margin: 0;
 }


nav {
  display: flex; 
  justify-content: space-between; 
  padding: 1rem 2rem; 
}

nav ul {
  display: flex; 
  list-style: none; 
}

nav li {
  padding-left: 1rem;
}




</style>


<nav>
    
    <a href="/"><h2>HOME</h2></a>
    <ul>
        {% for item in navigation.menu_items.all %}
        <li class="nav-item active">
          <a class="nav-link" href="{{ item.link }}" {% if item.open_in_new_tab %}target="_blank"{% endif %}>
            {{ item.title }}
          </a>
        </li>
      {% endfor %}
      <!-- User logging -->
      <ul>
        <li class="nav-item active">
          {% if request.user.is_authenticated %}
            <h4>Logged in as: {{ request.user.first_name }}</h4>
            <a class="nav-link" href="/logout/">Logout</a>
          {% else %}
            <h4>Hi Guest :)</h4>
          {% endif %}  
          
        </li>
      </ul>
    </ul>
  </nav>
  